<!doctype html>
<html lang="en">
<head>
   <!-- header -->
    <include href="views/header.html">
    <title>GRC Syllabus Generator</title>
</head>
<body>
<img src="images/logo.png" alt = "GRC Logo" style="float: left;  margin-bottom: 30px; margin-right: 20px" />
<h1> GRC Syllabus Generator</h1>
<form id="syllabus-gen" action="#" method="POST">
    <div class="container">
        <div class="row" id="divs">
            <div class="col-sm-3">
                <fieldset class="form-group mt-5">
                    <legend>Instructor Info</legend>
                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input type="text" class="form-control"
                               id="firstName" name="firstName">
                        <span class="err" id="err-fname">
                Please enter a first name
            </span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input type="text" class="form-control"
                               id="lastName" name="lastName">
                        <span class="err" id="err-lname">
                Please enter a last name
            </span>
                    </div>
                    <div class="form-group">
                        <label for="office">Office: </label>
                        <input type="text" class="form-control"
                               id="office" name="office">
                        <span class="err" id="err-office">
                Please enter an office location
            </span>
                    </div>
                    <div class="form-group">
                        <label>Office Hours:</label>
                        <div class="form-check time-pickers">


                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="mon" id="mon"
                                       name="office-hrs[]">
                                <label class="form-check-label" for="mon">
                                    Mon &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="tue" id="tue" name="office-hrs[]">
                                <label class="form-check-label" for="tue">
                                    Tue &nbsp;
                                </label>
                                <input type="time" class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="wed" id="wed" name="office-hrs[]">
                                <label class="form-check-label" for="wed">
                                    Wed &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="thur" id="thur" name="office-hrs[]">
                                <label class="form-check-label" for="thur">
                                    Thur &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="fri" id="fri" name="office-hrs[]">
                                <label class="form-check-label" for="fri">
                                    Fri &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <span class="err" id="err-office-hrs">Please enter office times.</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control"
                               id="email" name="email">
                        <span class="err" id="err-email">
                Please enter a valid email address
            </span>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-3">
                <fieldset class="form-group mt-5">
                    <legend>Course Information</legend>
                    <div class="form-group">
                        <label for="course">Course:</label>
                        <input type="text" class="form-control"
                               id="course" name="course">
                        <span class="err" id="err-course">
                Please enter a course #
            </span>
                    </div>



                    <div class="form-group">
                        <label>Meeting Times:</label>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="mon" id="monday"
                                       name="meeting-hrs[]">
                                <label class="form-check-label" for="monday">
                                    Mon &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="tue" id="tuesday" name="meeting-hrs[]">
                                <label class="form-check-label" for="tuesday">
                                    Tue &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check  time-pickers">

                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="wed" id="wednesday" name="meeting-hrs[]">
                                <label class="form-check-label" for="wednesday">
                                    Wed &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="thur" id="thursday" name="meeting-hrs[]">
                                <label class="form-check-label" for="thursday">
                                    Thur &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline">
                                <input class="form-check-input" type="checkbox"
                                       value="fri" id="friday" name="meeting-hrs[]">
                                <label class="form-check-label" for="friday">
                                    Fri &nbsp;
                                </label>
                                <input type="time"  class="form-control" placeholder="Select time">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"   class="form-control" placeholder="Select time">
                            </div>
                        </div>
                        <span class="err" id="err-meeting-hrs">Please enter meeting times.</span>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="text" class="form-control"
                               id="location" name="location">
                        <span class="err" id="err-location">
                Please enter a location
            </span>
                    </div>
                    <div class="form-group">
                        <label for="prereqs">Prerequisites:</label>
                        <input type="text" class="form-control"
                               id="prereqs" name="prereqs">
                        <span class="err" id="err-prereqs">

            </span>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset class="form-group mt-5">
                    <legend>Materials</legend>

                    <div class="form-group" id="textbook-div">
                        <table id = "textbook-table"class="table table-responsive-stack">
                        <tbody id="table-body">
                        <tr>
                            <td>
                                <label for="textbook0">Textbook:</label>
                                <input type="text" class="form-control"
                                         id="textbook0" name="textbook">
                            </td>
                            <td>
                                <label for="isbn0">ISBN:</label>
                                <input type="text" class="form-control"
                                                 id="isbn0" name="isbn" placeholder="Enter ISBN...">
                            </td>
                        <td> <button id="add-textbook" type="button" class="ml-3 btn btn-outline-success">Add(+)</button></td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <table id = "mats-table" class="table table-responsive-stack" >
                            <tbody id = "mats-body">
                            <tr>
                                <td>
                                    <label class="form-check-label" for="materials0">
                                        Additional Materials
                                    </label>
                                    <input type="text" class="form-control"
                                           id="materials0" name="materials">
                                </td>
                                <td> <button id="add-mats"  type="button" class="ml-3 btn btn-outline-success">Add(+)</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Other</legend>
                    <div class="form-group">
                        <label for="other">Other information:</label>
                        <input type="text" class="form-control"
                               id="other" name="other">
                    </div>

                </fieldset>
                <div class="align-content-center">
                    <button id="submit" type="submit" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>

    </div>
</form>

<!-- footer -->
<include href="views/footer.html">
</body>
</html>
