<!doctype html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <title class = grey>GRC Syllabus Generator</title>
        </head>
<body>
<img src="images/logo.png" alt = "GRC Logo" style="float: left;  margin-bottom: 30px; margin-right: 20px" />
<h1> GRC Syllabus Generator</h1>
<form id="syllabus-gen" action="#" method="POST">
    <div class="container">
        <div class="row" id="divs">
            <div class="col-sm-3">
                <fieldset class="form-group mt-5">
                    <h5 class="full-width">
                        <div class="wrap">Instructor Info</div>
                    </h5>
                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input type="text" class="form-control"
                               id="firstName" name="firstName" value = "{{ @firstname }}">

                        <span class="err">{{ @errors['firstname'] }}</span>
                        <span class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input type="text" class="form-control"
                               id="lastName" name="lastName" value = "{{ @lastname }}">
                        <check if="{{ @errors['lastname'] }}">
                            <span class="err">{{ @errors['lastname'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label for="office">Phone: </label>
                        <input type="tel" class="form-control"
                               id="phone" name="phone" value = "{{ @phone }}" >
                        <check if="{{ @errors['phone'] }}">
                            <span class="err">{{ @errors['phone'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label for="email">Instructor e-mail:</label>
                        <input type="text" class="form-control"
                               id="email" name="email" value="{{ @email }}">
                        <check if="{{ @errors['email'] }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label for="office">Office location: </label>
                        <input type="text" class="form-control"
                               id="office" name="office" value="{{ @office }}">
                        <check if="{{ @errors['office'] }}">
                            <span class="err">{{ @errors['office'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label>Office Hours:</label>
                        <small>(Office hours should be between 7am to 7pm)</small>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">

                                <label class="form-check-label" for="mon">
                                    Mon &nbsp;
                                </label>
                                <input type="time"  min="07:00" max="19:00"class="form-control" id="mon"  name="officeHoursStart[Mon]">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  min="07:00" max="19:00"  class="form-control"  name="officeHoursEnd[Mon]">

                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline mb-3">

                                <label class="form-check-label" for="tue">
                                    Tue &nbsp;
                                </label>
                                <input type="time"  min="07:00" max="19:00"  class="form-control"id="tue" name="officeHoursStart[Tue]">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"  class="form-control"   name="officeHoursEnd[Tue]">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline mb-3">

                                <label class="form-check-label" for="wed">
                                    Wed &nbsp;
                                </label>
                                <input type="time" min="07:00"  max="19:00"  class="form-control" id="wed"  name="officeHoursStart[Wed]">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"   class="form-control"   name="officeHoursEnd[Wed]">
                            </div>
                        </div>
                        <div class="form-check time-pickers">

                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="thur">
                                    Thur &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00"  class="form-control" id="thur"  name="officeHoursStart[Thur]">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"   class="form-control"   name="officeHoursEnd[Thur]">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="fri">
                                    Fri &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00"  class="form-control" id="fri"  name="officeHoursStart[Fri]">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  min="07:00" max="19:00"  class="form-control"  name="officeHoursEnd[Fri]">

                            </div>
                        </div>
                        <check if="{{ @errors['office-hrs'] }}">
                            <span class="err">{{ @errors['office-hrs'] }}</span>
                        </check>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-3">
                <fieldset class="form-group mt-5">
                    <h5 class="full-width">
                        <div class="wrap">Course Information</div>
                    </h5>
                    <div class = "row mb-3">
                        <div class="col-sm">
                            <label for="courseprefix">Course Prefix:</label>
                            <select id="courseprefix" name="courseprefix" title="Choose a Course Prefix">
                                <repeat group="{{@prefix}}" value="{{@selectPre}}">
                                    <option value="{{@selectPre}}"
                                    <check if = "{{@prefix==@selectPre}}">
                                        selected="selected"
                                    </check>>{{ @selectPre }}
                                    </option>
                                </repeat>
                            </select>
                        </div>
                        <div class="col-sm">
                            <label for="course-item">Class Number:</label>
                            <input id="course-item" name="course-item" type = "text" class="form-control" placeholder="445" >
                            <check if="{{ @errors['course-item'] }}">
                                <span class="err">{{ @errors['course-item'] }}</span>
                            </check>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <input type="checkbox" id="online" name="online" value="online" class="mr-3">
                        <label for = "online">Online Class</label>
                    </div>
                    <div class="form-group">
                        <label>Meeting Times:</label>
                        <small>(Meeting hours should be between 7am to 7pm)</small>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="monday">
                                    Mon &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00" name="meetingTimesStart[Mon]" class="form-control" id="monday">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"  name="meetingTimesEnd[Mon]"   class="form-control">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="tuesday">
                                    Tue &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00" name="meetingTimesStart[Tue]"  class="form-control" id="tuesday">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"  name="meetingTimesEnd[Tue]"  class="form-control">
                            </div>
                        </div>
                        <div class="form-check  time-pickers">

                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="wednesday">
                                    Wed &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00"  name="meetingTimesStart[Wed]"  class="form-control" id="wednesday">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time" min="07:00" max="19:00"  name="meetingTimesEnd[Wed]"  class="form-control">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="thursday">
                                    Thur &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00" name="meetingTimesStart[Thur]"  class="form-control" id="thursday">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  min="07:00" max="19:00"  name="meetingTimesEnd[Thur]"  class="form-control">
                            </div>
                        </div>
                        <div class="form-check time-pickers">
                            <div class="md-form md-outline form-inline mb-3">
                                <label class="form-check-label" for="friday">
                                    Fri &nbsp;
                                </label>
                                <input type="time" min="07:00" max="19:00" name="meetingTimesStart[Fri]"  class="form-control" id="friday">
                                <p>&nbsp; - &nbsp; </p>
                                <input type="time"  min="07:00" max="19:00" name="meetingTimesEnd[Fri]"  class="form-control">
                            </div>

                        </div>
                        <check if="{{ @errors['meeting-hrs'] }}">
                            <span class="err">{{ @errors['meeting-hrs'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label for="location">Class Location:</label>
                        <input type="text" class="form-control"
                               id="location" name="location" >
                        <check if="{{ @errors['class-location'] }}">
                            <span class="err">{{ @errors['class-location'] }}</span>
                        </check>

                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset class="form-group mt-5">
                    <h5 class="full-width">
                        <div class="wrap">Materials</div>
                    </h5>
                    <div class="form-group" id="textbook-div">
                        <table id = "textbook-table"class="table table-responsive-stack">
                            <tbody id="table-body">
                            <tr>
                                <td>
                                    <label for="textbook0">Textbook:</label>
                                    <input type="text" class="form-control"
                                           id="textbook0" name="textbook">
                                </td>
                                <td>
                                    <label for="isbn0">ISBN:</label>
                                    <input type="text" class="form-control"
                                           id="isbn0" name="isbn" class="form-control" >
                                </td>
                                <td> <button id="add-textbook" type="button" class="ml-3 btn btn-outline-success">Add(+)</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <table id = "mats-table" class="table table-responsive-stack" >
                            <tbody id = "mats-body">
                            <tr>
                                <td>
                                    <label class="form-check-label" for="materials0">
                                        Materials
                                    </label>
                                    <input type="text" class="form-control"
                                           id="materials0" name="materials">
                                </td>
                                <td> <button id="add-mats"  type="button" class="ml-3 btn btn-outline-success">Add(+)</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <h5 class="full-width">
                        <div class="wrap">Course Policies</div>
                    </h5>
                    <div class="form-group">
                        <label for="policies">Course Policies:</label>
                        <textarea cols = 120 rows = 5 placeholder="ex: Missed exams or assignments, Policies for dress during a lab, etc" name = "policies" id="policies"></textarea>
                    </div>
                </fieldset>
                <div class="align-content-center">
                    <button id="submit" type="submit" class="btn gen-button">Generate</button>
                </div>
            </div>
        </div>

    </div>
</form>

<!-- footer -->
<include href="views/footer.html">
</body>
</html>
