/**
 * Created in PhpStorm
 * @author Scarlett Kim
 * @date 5/1/2020
 * @version 1.0
 * styles.css
 * team-brian
 */

.err {
    color: red;
    /*visibility: hidden;*/
}

fieldset{
    padding: 1em;
}
select {
    margin: 5px;
    padding: 5px;
    vertical-align: center;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
}
legend {
    font-weight: bold;
    color: black;
    font-size: 125%;
    width:auto;
}

#divs{
    padding: 40px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
}
header, .full-width {
    width: 100%;
    background: #72C18B;
}
.wrap {
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
}
.gen-button{
    background-color: #E9E9E9;
    color: black;
}
h1 {
    color: #707070;
}
.preview{
    margin: 70px;
}
